<footer class="site-footer">
    {{!-- you can remove it --}}
        <section class="poweredby ghost">
            Proudly published with <a href="https://ghost.org">Ghost</a>
        </section>
        <section class="poweredby px-themes">
            Theme by pxThemes - <a href="http://pxt.be">Ghost Themes</a> <a class="subscribe-button" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a> <br>
            Read more about ABC Theme: <a href="http://julian.io/ghost-theming-with-zurb-foundation-and-scss/">Ghost theming blog post</a>
        </section>
    {{!-- remove it --}}
</footer>